<div class="jumbotron" ng-controller="MainCtrl as main" as >
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    EXPEDITE YOUR DECISION MAKING
    With Our Authoritative Research
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Click for latest reports!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Support</h4>
  <p>
    Top notch support: 6 Month Post-Purchase Analyst Support
  </p>

  <h4>Data</h4>
  <p>
    Data in Excel: Data from the Study Provided in Pivot Tables

  </p>

  <h4>Presentation</h4>
  <p>White label presentation: Customized Snapshot on Request</p>


</div>
