<div ng-controller="ReportsCtrl">
  <div >
  <div class="item" ng-repeat="data in dataList[0]['aerospace and defence'][0]['fighter planes']">
    <div class="row">
      <div class="col-md-8">
        <h6> {{data.published}} </h4>
        <h4 ng-href="#/">  {{data.title}} </h3>
        <button class="btn-success"> Download Free sample </button>
      </div>
      <div class="col-md-4">
        <img src="../images/yeoman.png"
      </div>
    </div>

  </div>
  <hr>
  <div class="item" ng-repeat="data in dataList[0]['aerospace and defence'][0]['aircraft carriers']">
    <div class="row">
      <div class="col-md-8">
        <h6> {{data.published}} </h4>
        <h4 ng-href="#/">  {{data.title}} </h3>
        <button class="btn-success"> Download Free sample </button>
      </div>
      <div class="col-md-4">
        <img src="../images/yeoman.png"
      </div>
    </div>

  </div>
  <hr>
  <div class="item" ng-repeat="data in dataList[0]['aerospace and defence'][0]['tanks']">
    <div class="row">
      <div class="col-md-8">
        <h6> {{data.published}} </h4>
        <h4 ng-href="#/">  {{data.title}} </h3>
        <button class="btn-success"> Download Free sample </button>
      </div>
      <div class="col-md-4">
        <img src="../images/yeoman.png"
      </div>
    </div>

  </div>
  <hr>
  <div class="item" ng-repeat="data in dataList[1]['agriculture'][0]['animal feed']">
    <div class="row">
      <div class="col-md-8">
        <h6> {{data.published}} </h4>
        <h4 ng-href="#/">  {{data.title}} </h3>
        <button class="btn-success"> Download Free sample </button>
      </div>
      <div class="col-md-4">
        <img src="../images/yeoman.png"
      </div>
    </div>

  </div>
  <hr>
  <div class="item" ng-repeat="data in dataList[1]['agriculture'][0]['seed']">
    <div class="row">
      <div class="col-md-8">
        <h6> {{data.published}} </h4>
        <h4 ng-href="#/">  {{data.title}} </h3>
        <button class="btn-success"> Download Free sample </button>
      </div>
      <div class="col-md-4">
        <img src="../images/yeoman.png"
      </div>
    </div>

  </div>
  <hr>
  <div class="item" ng-repeat="data in dataList[1]['agriculture'][0]['pesticides']">
    <div class="row">
      <div class="col-md-8">
        <h6> {{data.published}} </h4>
        <h4 ng-href="#/">  {{data.title}} </h3>
        <button class="btn-success"> Download Free sample </button>
      </div>
      <div class="col-md-4">
        <img src="../images/yeoman.png"
      </div>
    </div>

  </div>
  <hr>

</div>
</div
